---
# Persistent Volume Claim for BookWyrm static, exports and media files
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
    name: bookwyrm-pvc
    labels:
        app: bookwyrm
spec:
    accessModes:
        - ReadWriteMany
    resources:
        requests:
            storage: 5Gi
    storageClassName: longhorn
---
apiVersion: apps/v1
kind: Deployment
metadata:
    name: bookwyrm
    labels:
        app: bookwyrm
spec:
    replicas: 1
    selector:
        matchLabels:
            app: bookwyrm
    strategy:
        type: "Recreate"
    template:
        metadata:
            labels:
                app: bookwyrm
        spec:
            automountServiceAccountToken: false
            securityContext:
                fsGroup: 1000
            volumes:
                - name: bookwyrm-script
                  configMap:
                      name: bookwyrm-script
                - name: bookwyrm-data
                  persistentVolumeClaim:
                      claimName: bookwyrm-pvc
            initContainers:
                - name: bookwyrm-update
                  image: ghcr.io/mtrnord/bookwyrm:v0.8.2
                  command: ["bash"]
                  args:
                      - /hl/bookwyrm.sh
                      - update
                  volumeMounts:
                      - name: bookwyrm-script
                        mountPath: /hl
                        readOnly: true
                      - name: bookwyrm-data
                        mountPath: /app/static
                        subPath: static
                      - name: bookwyrm-data
                        mountPath: /app/media
                        subPath: media
                      - name: bookwyrm-data
                        mountPath: /app/exports
                        subPath: exports
                  env:
            containers:
                - name: bookwyrm-web
                  image: ghcr.io/mtrnord/bookwyrm:v0.8.2
                  command: ["python"]
                  args:
                      - "manage.py"
                      - "runserver"
                      - "0.0.0.0:8080"
                  resources:
                      requests:
                          cpu: 200m
                          memory: 500Mi
                  volumeMounts:
                      - name: bookwyrm-data
                        mountPath: /app/static
                        subPath: static
                      - name: bookwyrm-data
                        mountPath: /app/media
                        subPath: media
                      - name: bookwyrm-data
                        mountPath: /app/exports
                        subPath: exports
                  env:
                  livenessProbe:
                      httpGet:
                          port: 8080
                          path: "/"
                      initialDelaySeconds: 15
                      periodSeconds: 30
                  ports:
                      - name: bookwyrm-http
                        containerPort: 8080
                        protocol: TCP
                - name: bookwyrm-celery-worker
                  image: ghcr.io/mtrnord/bookwyrm:v0.8.2
                  command: ["celery"]
                  args:
                      - "-A"
                      - "celerywyrm"
                      - "worker"
                      - "-l"
                      - "info"
                      - "-Q"
                      - "high_priority,medium_priority,low_priority,streams,images,suggested_users,email,connectors,lists,inbox,imports,import_triggered,broadcast,misc"
                  resources:
                      requests:
                          cpu: 200m
                          memory: 200Mi
                  volumeMounts:
                      - name: bookwyrm-data
                        mountPath: /app/static
                        subPath: static
                      - name: bookwyrm-data
                        mountPath: /app/media
                        subPath: media
                      - name: bookwyrm-data
                        mountPath: /app/exports
                        subPath: exports
                  env:
                - name: bookwyrm-celery-beat
                  image: ghcr.io/mtrnord/bookwyrm:v0.8.2
                  command: ["celery"]
                  args:
                      - "-A"
                      - "celerywyrm"
                      - "beat"
                      - "-l"
                      - "INFO"
                      - "--scheduler"
                      - "django_celery_beat.schedulers:DatabaseScheduler"
                  resources:
                      requests:
                          cpu: 200m
                          memory: 200Mi
                  volumeMounts:
                      - name: bookwyrm-data
                        mountPath: /app/static
                        subPath: static
                      - name: bookwyrm-data
                        mountPath: /app/media
                        subPath: media
                      - name: bookwyrm-data
                        mountPath: /app/exports
                        subPath: exports
                  env:
                - name: bookwyrm-flower
                  image: ghcr.io/mtrnord/bookwyrm:v0.8.2
                  command: ["celery"]
                  args:
                      - "-A"
                      - "celerywyrm"
                      - "flower"
                      - "--url_prefix=flower"
                  resources:
                      requests:
                          cpu: 200m
                          memory: 200Mi
                  volumeMounts:
                      - name: bookwyrm-data
                        mountPath: /app/static
                        subPath: static
                      - name: bookwyrm-data
                        mountPath: /app/media
                        subPath: media
                      - name: bookwyrm-data
                        mountPath: /app/exports
                        subPath: exports
                  env:
                  ports:
                      - name: flower-http
                        containerPort: 5555
                        protocol: TCP
---
# Service for BookWyrm
apiVersion: v1
kind: Service
metadata:
    name: bookwyrm
    labels:
        app: bookwyrm
spec:
    selector:
        app: bookwyrm
    ports:
        - name: http
          protocol: TCP
          port: 8080
          targetPort: 8080
---
# HTTPRoute for BookWyrm
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
    name: bookwyrm
    namespace: bookwyrm
spec:
    parentRefs:
        - name: envoy-gateway
          namespace: envoy-gateway
    hostnames:
        - books.mtrnord.blog
    rules:
        - name: bookwyrm-traffic
          matches:
              - path:
                    type: PathPrefix
                    value: /
          backendRefs:
              - name: bookwyrm
                port: 8080
          timeouts:
              request: 240s
              backendRequest: 0s
