apiVersion: apps/v1
kind: Deployment
metadata:
  name: continuwuity
spec:
  replicas: 1
  selector:
    matchLabels:
      app: continuwuity
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: continuwuity
    spec:
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        fsGroup: 1000
      containers:
        - name: continuwuity
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            runAsNonRoot: true
            runAsUser: 1000
            runAsGroup: 1000
            capabilities:
              drop:
                - ALL
            seccompProfile:
              type: RuntimeDefault
          resources:
            limits:
              cpu: "2000m"
              memory: "3Gi"
            requests:
              memory: "1Gi"
              cpu: "500m"
          image: forgejo.ellis.link/continuwuation/continuwuity:main
          #image: forgejo.ellis.link/continuwuation/continuwuity:pr-1099-head
          imagePullPolicy: Always
          ports:
            - containerPort: 8448
          # Mount the continuwuity config which is stored in the continuwuity-config secret at the config path and should go to /config.yaml
          volumeMounts:
            - name: continuwuity-config
              mountPath: /etc/conduwuit
              readOnly: true
            - name: continuwuity-data
              mountPath: /var/lib/continuwuity
            - name: tmp
              mountPath: /tmp
          env:
            - name: CONTINUWUITY_CONFIG
              value: /etc/conduwuit/conduwuit.toml
          livenessProbe:
            httpGet:
              path: /_matrix/client/versions
              port: 8448
            initialDelaySeconds: 50
            timeoutSeconds: 5
          readinessProbe:
            httpGet:
              path: /_matrix/client/versions
              port: 8448
            initialDelaySeconds: 20
            timeoutSeconds: 5
      # Mount the continuwuity config which is stored in the continuwuity-config secret at the config path and should go to /config.yaml
      volumes:
        - name: continuwuity-config
          secret:
            secretName: continuwuity-config
        - name: continuwuity-data
          persistentVolumeClaim:
            claimName: continuwuity
        - name: tmp
          emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: continuwuity
spec:
  selector:
    app: continuwuity
  ports:
    - name: http
      protocol: TCP
      port: 8448
      targetPort: 8448
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: continuwuity
  namespace: continuwuity
spec:
  parentRefs:
    - name: envoy-gateway
      namespace: envoy-gateway
  hostnames:
    - matrix.mtrnord.blog
  rules:
    # Client traffic (sync, login, media, etc.)
    - name: client-traffic
      matches:
        - path:
            type: PathPrefix
            value: /_matrix/client
      backendRefs:
        - name: continuwuity
          port: 8448
      timeouts:
        request: 240s
        backendRequest: 0s
    - name: media-traffic
      matches:
        - path:
            type: PathPrefix
            value: /_matrix/media
      backendRefs:
        - name: continuwuity
          port: 8448
    # Federation traffic
    - name: federation-traffic
      matches:
        - path:
            type: PathPrefix
            value: /_matrix/federation
      backendRefs:
        - name: continuwuity
          port: 8448
      timeouts:
        request: 240s
        backendRequest: 0s
    # Fallback (anything else Matrix-y)
    - name: fallback
      backendRefs:
        - name: continuwuity
          port: 8448
---
apiVersion: gateway.envoyproxy.io/v1alpha1
kind: BackendTrafficPolicy
metadata:
  name: continuwuity-general-ratelimit
  namespace: continuwuity
spec:
  targetRefs:
    - group: gateway.networking.k8s.io
      kind: HTTPRoute
      name: continuwuity
  circuitBreaker:
    maxConnections: 1500
    maxPendingRequests: 300
    maxParallelRequests: 700
    maxParallelRetries: 50
## Blocked by https://github.com/envoyproxy/gateway/pull/6888
# ---
# apiVersion: gateway.envoyproxy.io/v1alpha1
# kind: BackendTrafficPolicy
# metadata:
#     name: continuwuity-client-traffic-cb
#     namespace: continuwuity
# spec:
#     targetRefs:
#         - group: gateway.networking.k8s.io
#           kind: HTTPRoute
#           name: continuwuity
#           sectionName: "client-traffic"
#     circuitBreaker:
#         maxConnections: 200
#         maxPendingRequests: 100
#         maxParallelRequests: 150
#         maxParallelRetries: 10
# ---
# apiVersion: gateway.envoyproxy.io/v1alpha1
# kind: BackendTrafficPolicy
# metadata:
#     name: continuwuity-media-traffic-cb
#     namespace: continuwuity
# spec:
#     targetRefs:
#         - group: gateway.networking.k8s.io
#           kind: HTTPRoute
#           name: continuwuity
#           sectionName: "media-traffic"
#     circuitBreaker:
#         maxConnections: 200
#         maxPendingRequests: 200
#         maxParallelRequests: 250
#         maxParallelRetries: 10
# ---
# apiVersion: gateway.envoyproxy.io/v1alpha1
# kind: BackendTrafficPolicy
# metadata:
#     name: continuwuity-federation-traffic-cb
#     namespace: continuwuity
# spec:
#     targetRefs:
#         - group: gateway.networking.k8s.io
#           kind: HTTPRoute
#           name: continuwuity
#           sectionName: "federation-traffic"
#     circuitBreaker:
#         maxConnections: 1500
#         maxPendingRequests: 300
#         maxParallelRequests: 700
#         maxParallelRetries: 50
# ---
# apiVersion: gateway.envoyproxy.io/v1alpha1
# kind: BackendTrafficPolicy
# metadata:
#     name: continuwuity-fallback-traffic-cb
#     namespace: continuwuity
# spec:
#     targetRefs:
#         - group: gateway.networking.k8s.io
#           kind: HTTPRoute
#           name: continuwuity
#           sectionName: "fallback-traffic"
#     circuitBreaker:
#         maxConnections: 50
#         maxPendingRequests: 300
#         maxParallelRequests: 50
#         maxParallelRetries: 50
