apiVersion: v1
kind: Service
metadata:
  labels:
    app: pantalaimon-freifunk
  name: freifunk-pantalaimon-srv
  namespace: matrix
spec:
  ports:
    - port: 8008
      protocol: TCP
      targetPort: 8008
  selector:
    app: pantalaimon-freifunk
  type: ClusterIP
