apiVersion: apps/v1
kind: Deployment
metadata:
  name: freshrss
  namespace: freshrss
spec:
  progressDeadlineSeconds: 120
  strategy:
    rollingUpdate:
      maxUnavailable: 0
    type: RollingUpdate
  selector:
    matchLabels:
      app: freshrss
  template:
    metadata:
      labels:
        app: freshrss
    spec:
      automountServiceAccountToken: false
      securityContext:
        fsGroup: 33
      containers:
        - name: freshrss
          image: freshrss/freshrss:1.28.1
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: false
            runAsNonRoot: true
            runAsUser: 33
            runAsGroup: 33
            capabilities:
              drop:
                - ALL
            seccompProfile:
              type: RuntimeDefault
          env:
            - name: TZ
              value: "Europe/Berlin"
            - name: CRON_MIN
              value: "1,31"
            - name: TRUSTED_PROXY_IP
              value: 100.64.0.0/10
            - name: LISTEN
              value: "0.0.0.0:8080"
          resources:
            limits:
              cpu: "500m"
              memory: "512Mi"
            requests:
              memory: "344Mi"
              cpu: "252m"
          ports:
            - containerPort: 8080
              name: web
              protocol: TCP
          volumeMounts:
            - name: data
              mountPath: "/var/www/FreshRSS/data"
            - mountPath: /tmp
              name: tmp
            - mountPath: /var/run
              name: var-run
            - mountPath: /var/log
              name: var-log
          livenessProbe:
            httpGet:
              path: /
              port: web
              scheme: HTTP
          readinessProbe:
            httpGet:
              path: /
              port: web
              scheme: HTTP
          startupProbe:
            httpGet:
              path: /
              port: web
      volumes:
        - name: tmp
          emptyDir:
            sizeLimit: 2048Mi
        - name: var-run
          emptyDir: {}
        - name: var-log
          emptyDir: {}
        - name: data
          persistentVolumeClaim:
            claimName: freshrss-data
---
apiVersion: v1
kind: Service
metadata:
  name: freshrss
spec:
  selector:
    app: freshrss
  ports:
    - name: web
      port: 8080
      targetPort: 8080
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: freshrss
  namespace: freshrss
spec:
  parentRefs:
    - name: envoy-gateway
      namespace: envoy-gateway
  hostnames:
    - rss.mtrnord.blog
  rules:
    - backendRefs:
        - name: freshrss
          port: 8080
      timeouts:
        request: 240s
        backendRequest: 0s
