apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mjolnir-fluffy-persistent-storage
  namespace: matrix
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 512Mi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mjolnir-fluffy
  namespace: matrix
spec:
  replicas: 0
  selector:
    matchLabels:
      app: mjolnir-fluffy
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: mjolnir-fluffy
    spec:
      containers:
        - image: ghcr.io/mtrnord/draupnir:no-root
          #image: gnuxie/draupnir:v2.2.0
          imagePullPolicy: IfNotPresent
          livenessProbe:
            failureThreshold: 3
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 30
          name: mjolnir-fluffy-container
          resources:
            requests:
              ephemeral-storage: 1024Mi
              cpu: 100m
              memory: 200Mi
            limits:
              ephemeral-storage: 2048Mi
              cpu: 2000m
              memory: 2000Mi
          readinessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 30
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            readOnlyRootFilesystem: true
            runAsNonRoot: true
            runAsGroup: 1000
          volumeMounts:
            - mountPath: /data/config/production.yaml
              name: config-volume
              subPath: production.yaml
            - mountPath: /data/storage
              name: storage
            - mountPath: /tmp
              name: tmp
      volumes:
        - configMap:
            name: mjolnir-fluffy-config
          name: config-volume
        - name: storage
          persistentVolumeClaim:
            claimName: mjolnir-fluffy-persistent-storage
        - name: tmp
          emptyDir:
            sizeLimit: 2048Mi
