apiVersion: v1
kind: Service
metadata:
  name: heisenbridge
  namespace: matrix
  labels:
    app: heisenbridge
spec:
  selector:
    app: heisenbridge
  ports:
    - port: 9898
      targetPort: 9898
      protocol: TCP
      name: appservice
