apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
    name: letsencrypt-dns
spec:
    acme:
        email: mtrnord@nordgedanken.dev
        # The server is replaced in /clusters/production/infrastructure.yaml
        server: https://acme-staging-v02.api.letsencrypt.org/directory
        privateKeySecretRef:
            name: letsencrypt-dns-account-key
        solvers:
            - dns01:
                  cloudflare:
                      apiTokenSecretRef:
                          name: cloudflare-api-token-secret
                          key: api-token
            - dns01:
                  webhook:
                      groupName: acme.zacharyseguin.ca
                      solverName: pdns
                      config:
                          host: http://10.0.64.129:8081
                          apiKeySecretRef:
                              name: pdns-api-key
                              key: key
# Fix for flux
---

